[Desktop Entry]
Version=1.0
Name=Update Firefox
Comment=Try update firefox
GenericName=Update Firefox
Exec=/usr/sbin/update-firefox update
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/firefox/icons/updater.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=
StartupNotify=true
Name[fr_FR]=update-firefox.desktop
